--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.6.4
sentence-transformers==2.7.0
transformers==4.40.2
qdrant-client==1.8.2
langdetect==1.0.9
rank_bm25==0.2.2
pymupdf==1.24.1
python-dotenv==1.0.1
groq==0.5.0
torch
streamlit==1.32.2
requests==2.31.0
wikipedia-api==0.6.0
certifi>=2024.2.2
